<!doctype html>
<html>
<head>
    <title>Hello AngularJS</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/1.4.3/angular.js"></script>
    <script src="hello.js"></script>
</head>

<body ng-app="hello">
<div class="container">
    <div ng-controller="home as home" ng-cloak class="ng-cloak">
        <p>The ID is {{home.greeting.id}}</p>
        <p>The content is {{home.greeting.content}}</p>
    </div>
</div>

</body>
</html>